<html ng-app="cs480App">
	<!-- This page uses AngularJS -->
	<head>
	    <title>CS480 Demo HomePage using AngularJS</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/home-control-ajs.js"></script>
	</head>

	<body ng-controller="UserCtrl">
		<div>
	        This is a simple page to demonstrate the web UI development.
	        The key tools and techniques used include:
	        <ul>
	            <li>HTML - Obviously</li>
	            <li><a href="https://angularjs.org/">AngularJS</a></li>
	            <li><a href="http://jquery.com/">JQuery</a></li>
	            <li><a href="http://api.jquery.com/jquery.ajax/">JQuery - AJAX</a></li>
	        </ul>
	    </div>

	    <hr>

	    <div>
	        <div>
	            <label>User List</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Major</td>
	                    <td>Creation Time</td>
	                    <td>Delete</td>
	                </tr>

	                <tr ng-repeat="user in users">
	                    <td>{{user.id}}</td>
	                    <td>{{user.name}}</td>
	                    <td>{{user.major}}</td>
	                    <td>{{user.creationTime}}</td>
                        <td><button ng-click="deleteUser(user.id)">Delete</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Add User</label>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Major</td>
	                    <td>Add</td>
	                </tr>
	                <tr>
	                    <td><input type="text" ng-model="new_id"></td>
	                    <td><input type="text" ng-model="new_name"></td>
	                    <td><input type="text" ng-model="new_major"></td>
	                    <td><button ng-click="addUser()">Add</button></td>
	                </tr>
	            </table>
	        </div>

	        <hr>

	        <div>
	            <label>Query User</label>
	            <input type="text" id="query_id" ng-model="userIdToSearch"><button ng-click="getUser()">Get</button>
	            <table border="1">
	                <tr>
	                    <td>ID</td>
	                    <td>Name</td>
	                    <td>Major</td>
	                </tr>
	                <tr>
	                    <td><label>{{founduser.id}}</label></td>
	                    <td><label>{{founduser.name}}</label></td>
	                    <td><label>{{founduser.major}}</label></td>
	                </tr>
	            </table>
	        </div>
	    </div>

	</body>

</html>