<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
		<meta name="theme-color" content="#000000"/>
		<link rel="manifest" href="/manifest.json"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
		<title>Commuter Studdy</title>
	</head>
	<body>
		<div id="root"></div>
		<script type="text/javascript" src="js/main.7ef536bb.js"></script>
	</body>
</html>