extends ../layouts/layout

block content
  .jumbotron
    h1 Create Event
    form(action='', method='post')
          div
            p
              | Event Name
              input.form-control(type='text', name='eventname')
          div
            p
              | Time
              input.form-control(type="time", name='startTime')
              input.form-control(type="time", name='endTime')
          div
            p
              | Address 1
              input.form-control(type='text', name='address1')
          div
            p
              | Address 2
              input.form-control(type='text', name='address2')
          div
            p
              | City
              input.form-control(type='text', name='city')
          div
            p
              | State
              input.form-control(type='text', name='state')
          div
            p
              | Zipcode
              input.form-control(type='text', name='zip')
          div
            p
              | Age Range
              input.form-control(type='text', name='age')
          .form-group
            p
              | Alcohol Allowed?
              input.form-control(type='checkbox', name='Alcohol', value='yes')
          div
            p
              a.btn.btn-lg.btn-warning(role="button", href="#") Submit >>
