extends ../layouts/layout

block content
  .jumbotron
    h2 Event created successfully.
    p
      a.btn.btn-warning(href='/create', role='button') Create Event »
    p
      a.btn.btn-warning(href='/map', role='button') View Map »