extends ../layouts/layout

block content
  .jumbotron
    h1
      span.fa
      | Welcome to Bonis!
    p 
      | Bonis is a web app for finding the best parties and group events nearest you. By
      | signing up with your Facebook profile, you can see all the current events and their reviews.
    p 
      a.btn.btn-lg.btn-warning(href='/events', role='button') View Local Events »
