extends ../layouts/layout

block content
  div Logged in as: #{user.username}
  h2 Linked Account(s)
  ul.list-inline.list-unstyled
    li
      a.btn.btn-primary(href="/link/facebook") Link Facebook
