extends ../layouts/layout

block content
  h2 Linked Account(s)
  ul.list-inline.list-unstyled
    li
      a.btn.btn-primary(href="/link/facebook") Link Facebook
    li
      a.btn.btn-primary(href="/link/google") Link Google
